docker
.circleci
.vscode
deployment-scripts
.dockerignore
docker-compose*
*Dockerfile*
*.code-workspace
readme.md
.git

app/.env*
app/node_modules
app/vendor

app/bootstrap/cache/**
app/storage/app/**
app/storage/database/**
app/storage/framework/cache/**
app/storage/framework/sessions/**
app/storage/framework/testing/**
app/storage/framework/views/**
app/storage/testing/**
app/storage/logs/**
app/public/css/*
app/public/js/*
app/public/fonts/*
