APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=https://admin.jokkebrok.be

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

ENVIRONMENT_DESCRIPTION="Playground Administration APP"
ENVIRONMENT_COLOR="rgb(32,32,32)"
