node_modules
public/storage
public/hot
storage/*.key
vendor
Homestead.json
Homestead.yaml
.env
composer.phar
npm-debug.log
yarn-error.log

.php_cs.cache
.php_cs

app/version_sha1
app/version_timestamp
app/version_github_link
